
    $_glb_main-font-family: 'Roboto', sans-serif;
    $_glb_logo-font-family: 'Raleway', sans-serif;
    
    $_glb_main-font-color: #212121;
    $_glb_main-font-on-dark-fon-color: #ffffff;
    $_glb_secondary-font-color: #757575;
    $_glb_address-footer-a-color: rgba(255, 255, 255, 0.6);

    $_glb_secondary-bg-color: #F5F4FA;
    $_glb_main-bg-color: #ffffff;
    $_glb_member-card-bg-color: #ffffff;
    $_glb_what-we-do-card-header-bg-color: rgba(70, 73, 109, 0.8);
    $_glb_portfolio-card-hover-bg: rgba(33, 150, 243, 0.9);
    $_glb_footer-bg-color: #2F303A;
    $_glb_backdrop-bg-color: rgba(0, 0, 0, 0.2);
    $_glb_social-links :rgba(255, 255, 255, 0.1);
    $_glb_modal-window-bg-color: #ffffff;

    $_glb_header-border-color: #ECECEC;
    $_glb_clients-border-color: #AFB1B8;
    $_glb_portfolio-card-border-color: #EEEEEE;
    $_glb_footer-subscribe-input-border-color: rgba(255, 255, 255, 0.3);
    $_glb_close-modal-border-color: rgba(0, 0, 0, 0.1);
   
    $_glb_footer-subscribe-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    $_glb_swg-icons-main-color: #AFB1B8;

    $_glb_portfolio-button-shadow:
        0px 2px 2px rgba(0, 0, 0, 0.12),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 3px 1px rgba(0, 0, 0, 0.1);

    $_glb_our-team-member-shadow:
        0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);

    $_glb_portfolio-card-shadow:
        1px 4px 6px rgba(0, 0, 0, 0.16),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);

    $_glb_button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    $_glb_modal-window-shadow:
        0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12);

    $_glb_hero-gradient-1: rgba(47, 48, 58, 0.8);
    $_glb_hero-gradient-2: rgba(47, 48, 58, 0.8);
    
    $_glb_main-hover-color: #2196F3;

    $_glb_max-width: 1200px;

    $_glb_transition-duration-time: 250ms;
    $_glb_cubic-hover: cubic-bezier(0.4, 0, 0.2, 1);

    /* -=-=-=-=-=-=-=-=- data -=-=-=-=-=-=-=-=- */
    $images-map-for-benefits: (
        1: "../images/benefits-svg/antenna.svg",
        2: "../images/benefits-svg/clock.svg",
        3: "../images/benefits-svg/diagram.svg",
        4: "../images/benefits-svg/astronaut.svg"
    );

html { box-sizing: border-box; }

*,
*::before,
*::after {
    box-sizing: inherit;
}
  
body{
    font-family: $_glb_main-font-family;
    color: $_glb_main-font-color;
    background-color: $_glb_main-bg-color;
    letter-spacing: 0.03em;
}

/* some reset ===================================================================== */
a{ text-decoration: none; }

address{ font-style: normal; }

ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p, h2{ margin: 0; }

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section{
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}

.container{
    margin: 0 auto;
    max-width: $_glb_max-width;
    padding-left: 15px;
    padding-right: 15px;
}

.index-no-border{ border: 0; }

/* ================================= Placeholders ================================= */
%flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

%social-links{
/* -=-=-=-=-=-=-=-=- round social links -=-=-=-=-=-=-=-=- */
    justify-content: center;
    li:not(:last-child){
        margin-right: 10px;
    }
    a{ display: block; }
    
    .link-icon{
        border-radius: 50%;
        width: 44px;
        height: 44px;
        fill: $_glb_swg-icons-main-color;
        transition-duration: $_glb_transition-duration-time; 
        transition-timing-function: $_glb_cubic-hover;
    }
    
    & a:hover .link-icon,
    & a:focus .link-icon{
        fill:$_glb_main-font-on-dark-fon-color;
        background-color: $_glb_main-hover-color;
    }
}

%modal-input-textarea{
/* -=-=-=-=-=-=-=-=- in modal window for all inputs and textarea -=-=-=-=-=-=-=-=- */
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    &:focus{
        outline: none;
        border: 1px solid $_glb_main-hover-color;
     }
}

%button-base{
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=- Big blue button -=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: $_glb_main-hover-color;
    color: $_glb_main-font-on-dark-fon-color;
    box-shadow: $_glb_button-shadow;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.9em;
    letter-spacing: 0.06em;
    transition-duration: $_glb_transition-duration-time; 
    transition-timing-function: $_glb_cubic-hover;
    &:hover,
    &:focus{
        fill: $_glb_main-font-color;
        color: $_glb_main-font-color;
        background-color: $_glb_main-bg-color;
    }
}

/*-=-=-=-=-=-=-=-=- Mixin -=-=-=-=-=-=-=-=-*/
@mixin menu-underline ($opacity){
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    height: 5px;
    background-color: $_glb_main-hover-color;
    border-radius: 3px;
    opacity: $opacity;
    transition-duration: $_glb_transition-duration-time;
    transition-timing-function: $_glb_cubic-hover;
}

@mixin benefits-images($images-map){
    @each $key, $val in $images-map{
        li:nth-child(#{$key})
        h3::before{ background-image: url("#{$val}"); }
    }
}

/* Header ===================================================================== */
header{
    color: $_glb_main-font-color;
    border: 1px solid $_glb_header-border-color;
    min-height: 80px;
    font-size: 14px;
    
    li, a{
        display: flex;
        align-items: center;
        font-weight: 700;
        color: $_glb_main-font-color;
    }
}

    .wrapper-in-header{
        @extend %flex-center;
        min-height: 80px;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo{
        margin-right: 85px;
        font-family: $_glb_logo-font-family;
        font-size: 26px;
        color: $_glb_main-font-color;
        text-decoration: none;

        span{ color: $_glb_main-hover-color; }
    }

    .top{
        @extend %flex-center;
    }

    .top-nav-ul{
        @extend %flex-center;
        li:not(:last-child) { margin-right: 50px; }
        a { min-height: 80px; }
    }

        
    .addres-header{
        @extend %flex-center;
        a{
            height: 100%;
            color: $_glb_secondary-font-color;
            fill: $_glb_secondary-font-color;
            transition-duration: $_glb_transition-duration-time;
            transition-timing-function: $_glb_cubic-hover;
        }
        .contact{
            @extend %flex-center;
            li:not(:last-child){ margin-right: 30px; }
            span{ padding-left: 10px; }
        }
        .address-icon{
            display: flex;
            width: 16px;
            height: 16px;
        }
    }

    /*menu hover effect ==================== */
    .active-page{
        color: $_glb_main-hover-color;
    }

    .hover-effect:hover,
    .hover-effect:focus{
        color: $_glb_main-hover-color;
        fill: $_glb_main-hover-color;
    }

    /*menu underline ==================== */
    .active-page{
        position: relative;
        &::after{
            @include menu-underline(1);
        }
    }

    .menu-hover-underline{
        position: relative;
        &::after{
            @include menu-underline(0);
        }

        &:hover::after,
        &:focus::after{
            opacity: 1;
        }
    }

/*Main element ===================== index.html ================================================*/
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    background-image:
                linear-gradient(to right,
                    $_glb_hero-gradient-1,
                    $_glb_hero-gradient-2),
                url("../images/hero-image.jpg");
    background-position: center;

    h1{
        margin-top:0;
        margin-bottom: 30px;
        color:$_glb_main-font-on-dark-fon-color;
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36em;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    button{
        @extend %button-base;
        box-shadow: $_glb_button-shadow;
    }
}

/*in section benefits ===================== index.html ================================================*/
.hidden-header-h{
    line-height: 0;
    font-size: 0;
}

    .benefits-list{
        @extend %flex-center;
        li{
            width: 270px;
            text-align: left;
            margin-right: 30px;
        }
        li:last-child{
            margin-right: 0;
        }
        &-item-header{
            margin-bottom: 10px;
        }
        &-item-header::before{
            content: "";
            display: block;
            width: 270px;
            height: 120px;
            background-color: $_glb_secondary-bg-color;
            border-radius: 4px;
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center;
        }

        @include benefits-images($images-map-for-benefits);
    }

        .benefits-list p{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7em;
            color: $_glb_secondary-font-color;
        }



/*in section what-we-do ===================== index.html ================================================*/
.what-we-do{
    &.section{
        padding-top: 0;
    }

    .section-title{
        margin-bottom: 50px;
        text-align: center;
    }

    .what-we-do-list{
        @extend %flex-center;
        justify-content: center;
    }

    li{ position: relative; }

    li:not(:last-child){ margin-right: 30px; }
    
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        color: $_glb_main-font-on-dark-fon-color;
        width: 100%;
        height: 70px;
        background-color: $_glb_what-we-do-card-header-bg-color;

        h3{
            margin: 0;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
    }
}
/*in section our-team ===================== index.html ================================================*/
.secondary-bg-color{
    background-color: $_glb_secondary-bg-color;
}

.section-title{
    font-size: 36px;
    line-height: 1.17em;
}

.our-team{
    text-align: center;
    
    &-list{
        @extend %flex-center;
        justify-content: center;
    }
    
    h2{
        margin-bottom: 50px;
    }
    
    &-member{
        margin-right: 30px;
        padding-bottom: 24px;
        background-color:$_glb_member-card-bg-color;
        width: 270px;
        text-align: center;
        background: $_glb_member-card-bg-color;
        box-shadow: $_glb_our-team-member-shadow;
        border-radius: 0px 0px 4px 4px;

        img{ margin-bottom: 30px; }
        
        h3{
            margin-top: 0;
            margin-bottom: 10px;
        }

        b{
            display: inline-block;
            margin-bottom: 16px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: $_glb_secondary-font-color;
        }
    }
    &-member:last-child{ margin-right: 0; }
}

.social{
    @extend %flex-center;
    @extend %social-links;
}


/*in section clients ===================== index.html ================================================*/
.clients{
    &-list li:not(:last-child){ margin-right: 30px; }
    .section-title{
        text-align: center;
        margin-bottom: 50px;
    }
}

.clients-list{
    @extend %flex-center;
    li{
        width: 170px;
        height: 90px;
        border: 1px solid $_glb_swg-icons-main-color;
        border-radius: 4px;
        
        &:hover,
        &:focus-within{
            outline: none;
            border: 1px solid $_glb_main-hover-color;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
        }
    }
}
    .client-list-item-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        outline: none;
        svg{
            fill: $_glb_swg-icons-main-color;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
        }

        &:hover svg,
        &:focus svg{
            fill: $_glb_main-hover-color;
        }
    }
/*in section portfolio ===================== portfolio.html ================================================*/
    .btn-group{
        @extend %flex-center;
        margin-bottom: 50px;
        text-align: center;
        justify-content: center;

        li:not(:last-child){
            margin-right: 8px;
        }

        button{
            padding: 6px 22px;
            font-size: 16px;
            line-height: 1.6em;
            background-color: $_glb_secondary-bg-color;
            font-weight: 700;
            letter-spacing: 0.05em;
            border: none;
            box-shadow: $_glb_portfolio-button-shadow;
            border-radius: 4px;
            outline: none;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;

            &:hover,
            &:focus{
                background-color: $_glb_main-hover-color;
                color: $_glb_secondary-bg-color;
            }
        }
    }


    .ul-portfolio{
        @extend %flex-center;
    }

        .portfolio-item{
            width: 370px;
            border: 1px solid $_glb_portfolio-card-border-color;
            margin-right: 30px;
            margin-bottom: 30px;
            overflow: hidden;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
            
            &:hover,
            &:focus-within{ box-shadow: $_glb_portfolio-card-shadow; }
            
            &:nth-child(3n){ margin-right: 0; }
    
            &:nth-last-child(-n+3){ margin-bottom: 0; } 
        }
            .portfolio-item-link{
                display: block;
                position: relative;
                height: 100%;
                outline: none;

                &:hover .hover-text,
                &:focus .hover-text{ top: 0; }
            }
        
        .wrapper-for-img-hover-text{
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
            
            .hover-text{
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 63px 24px;
                background: $_glb_portfolio-card-hover-bg;
                color: $_glb_main-font-on-dark-fon-color;
                font-weight: 400;
                font-size: 18px;
                line-height: 1.556em;
                top: 100%;
                transition-property: top;
                transition-duration: $_glb_transition-duration-time; 
                transition-timing-function: $_glb_cubic-hover;
            }
        }
    
        .wrapper-for-header-filter{
            padding-left: 24px;
            margin-bottom: 20px;
            text-align: left;            
        }

            .item-header{
                margin-bottom: 9px;
                color: $_glb_main-font-color;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 2.25em;
                letter-spacing: 0.06em;
            }
            
            .item-filter{
                color: $_glb_secondary-font-color;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
            }


/*Footer ===================================================================== */
footer{
    color: $_glb_main-font-on-dark-fon-color;
    background-color: $_glb_footer-bg-color;
    padding-top: 60px;
    padding-bottom: 60px;
    vertical-align: top;
}

.wrapper-in-footer{
    @extend %flex-center;
    align-items: baseline;
    .join b,
    .footer-subscribe b{
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }
    
}

    .logo-and-contact{
        margin-right: 69px;
        width: 231px;
        .logo{
            display: flex;
            color: $_glb_main-font-on-dark-fon-color;
            margin-right: 0;
            margin-bottom: 20px;
        }
        
    }
    
    .addres-footer{
        ul li{
            margin-bottom: 9px;
            line-height: 1.7em;
            font-size: 14px;
            a{
                font-style: normal;
                font-weight: 400;
                color: $_glb_address-footer-a-color;
            }
        }
    } 
        
    .join{
        width: 206px;
        margin-right: 94px;

        .social .link-icon{
            fill: $_glb_main-font-on-dark-fon-color;
            background-color:$_glb_social-links;
        }
    }

    .footer-subscribe{
        width: 570px;

        .footer-subscribe-form{
            @extend %flex-center;
            position: relative;
        }
    }

    .footer-subscribe-input{
        border-radius: 4px;
        width: 358px;
        padding-left: 15px;
        color: $_glb_main-font-on-dark-fon-color;
        border: 1px solid $_glb_footer-subscribe-input-border-color;
        background-color: $_glb_footer-bg-color;
        filter: $_glb_footer-subscribe-filter;
    }

    .footer-subscribe-label{
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: $_glb_transition-duration-time;
        transition-timing-function: $_glb_cubic-hover;
        color: $_glb_secondary-font-color;
    }

    .footer-subscribe-input:focus + .footer-subscribe-label,
    .footer-subscribe-input:not(:placeholder-shown) + .footer-subscribe-label{
        opacity: 0;
    }

    .footer-subscribe-button{
        @extend %flex-center;
        @extend %button-base;
        margin-left: 12px;
        fill: $_glb_main-font-on-dark-fon-color;
        svg{
            margin-left: 10px;
        }
    }
        

/*===================== modal ================================================*/
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $_glb_backdrop-bg-color;
    transition-duration: $_glb_transition-duration-time;
    &.is-hidden{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: scale(1.5);
    }
}

    .modal-window{
        @extend %flex-center;
        position: relative;
        width: 528px;
        height: 581px;
        margin: 0 auto;
        padding: 40px;
        top: 50%;
        transform: translateY(-50%);
        background-color: $_glb_modal-window-bg-color;
        box-shadow: $_glb_modal-window-shadow;
        border-radius: 4px;
        transition-duration: $_glb_transition-duration-time;
        font-size: 14px;
    }

    .modal-window-form{
        @extend %flex-center;
        
        label{
            color: $_glb_secondary-font-color;
            cursor: pointer;
        }

        svg{
            cursor: pointer;
        }
    }


    
        .close-modal{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 8px;
            right: 8px;
            width: 30px;
            height: 30px;
            border: 1px solid $_glb_close-modal-border-color;
            border-radius: 50%;
            background-color: $_glb_modal-window-bg-color;
            cursor: pointer;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
            
            &:hover,
            &:focus{ fill: $_glb_main-hover-color; }
        }


        .modal-header{
            display: block;
            margin: 0 auto 30px auto;
            font-size: 20px;
            line-height: 1.150em;
        }

        .form-field{
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 28px;
        }
    
        .modal-input{
            @extend %modal-input-textarea;
            height: 40px;
            padding-left: 42px;
        }

        .text{
            @extend %modal-input-textarea;
            height: 120px;
            padding: 12px 16px;
        }

        .svg-for-input{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 16px; 
            top: 11px;
            width: 18px;
            height: 18px;

            .modal-input:focus ~ &{
                fill: $_glb_main-hover-color;
            }
        }

        .modal-label{
            position: absolute;
            top: 13px;
            left: 42px;
            transition-duration: $_glb_transition-duration-time;

            .modal-input:focus + &,
            .modal-input:not(:placeholder-shown) + &{
                top:-18px;
                left:16px;
                color: $_glb_main-hover-color;
            }
        }
        
        .form-comment{ left: 16px; }

        .label-checkbox-agreement{
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .input-checkbox-agreement{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: absolute;
        }

        .checkbox-icon{
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 7px;
            border: 2px solid black;
            border-radius: 2px;

            &:hover, input:focus + &{
                background-color: $_glb_main-hover-color;
                border: none;
                border-radius: 2px;
            }

            .input-checkbox-agreement:checked + &{
                background-color: $_glb_main-hover-color;
                border: none;
                background-image: url(../images/modal-svg/check.svg);
                border-radius: 2px;
            }
        }


    .link-terms{
            position: relative;
            color: $_glb_main-hover-color;
        &::after{
            /* -=-=-=- link underline -=-=-=- */
            content: "";
            position: absolute;
            width: 100%;
            bottom: 0.07em;
            left: 0;
            display: block;
            height: 0.05em;
            background-color: $_glb_main-hover-color;
            transition-duration: $_glb_transition-duration-time; 
            transition-timing-function: $_glb_cubic-hover;
        }
        &:hover::after{
            opacity: 0;
        }
    }

    .modal-button-send{
        @extend %button-base;
    }